<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for contacting the Clean Works Support Team.
       We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
