<div class="col-sm-2 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <a href="#"><h1><%= product.description %></h1></a>
  <p><%= product.description %></p>
  <strong>$<%= product.price %></strong>
</div><!-- /col -->
