<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>

  <div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <a href="#"><h1>Bike 1</h1></a>
        <p>Pretty cool bike</p>
        <strong>$ 42</strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
